.image {
	display:none;
}

.instructions {
	background: #EEEEEE;
	font-family: monospace;
	padding: 5px;
}

button {
	width: 200px;
	font-family: monospace;
	font-size: 30px;
	color: antiquewhite;
	background-image: -webkit-linear-gradient(top, black, maroon);
	position: absolute;
	top: 265px;
	left: 300px;
	right: auto;
	padding: 12px;
	border-radius: 53px;

}

#dead {
	font-family: monospace;
	font-size: xx-large;

	transition-property: top;
	transition-duration: 0.6s;

	position: absolute;
	width: 800px;
	left: 9px;
	top: 0px;
	text-align: center;
	background-image: -webkit-linear-gradient(top, black, maroon);
	color: antiquewhite;



}

.hidden {
	display: none;
}

.container {
	font-family: monospace;
}

.game {

}

.disabled {
	opacity:0.5;
}