body {
	background: #333333;
	font-family: fantasy;
}

div {
	-webkit-transition-property: all;
    -webkit-transition-duration: 0.6s;
}


p {
	color: antiquewhite;
	font-family: fantasy;
}

h2 {
	color: aliceblue;
}

.panel {
	border: 1px black solid;
	background: dimgray;
	border-color: antiquewhite;
	border-radius: 7px;
	padding: 10px;
}

#container {
	width:100%;
	height:250px;
	visibility: hidden;
}

#buttons {
	float: left;
	width: 25%;
	height:100%;
}

#info {
	float: left;
	width:25%;
	height:100%;
	margin-left: 10%;
}

#logContainer {
	float: right;
	width:25%;
	height:100%;
}

#log {
	overflow: scroll;
	height:70%;
}

button {
	width: 80px;
	border-radius:20px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:14px;
	padding:21px 21px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}

.Water {
	border:1px solid #375080;
	background:linear-gradient(to bottom, #0174DF 5%, #61AED7 100%);
	background-color:#FF0000;
}

.Earth {
	border:1px solid #693D04;
	background:linear-gradient(to bottom, #794600 5%, #AD8533 100%);
	background-color:#AD8533;
}

.Air {
	border:1px solid #AAAAAA;
	background:linear-gradient(to bottom, #AAAAAA 5%, #EEEEEE 100%);
	background-color:#EEEEEE;
}

.Fire {
	border:1px solid #CCAA00;
	background:linear-gradient(to bottom, #DF6000 5%, #FE9A2E 100%);
	background-color:#FF8000;
}

.Spirit {
	border:1px solid #151515;
	background:linear-gradient(to bottom, #0E0E0E 5%, #848484 100%);
	background-color:#2E2E2E;
}

.piece {
	width:30px;
	height:30px;
	padding: 2px;
	margin:5px;
	text-align: center;
}

.WaterText {
	color: #375080;
}
.EarthText {
	color: #693D04;
}
.AirText {
	color: #AAAAAA;
}
.SpiritText {
	color: #151515;
}
.FireText {
	color: #CCAA00;
}

.Tooltip {
    display: inline;
    position: relative;
}

.ToolTip:hover {
    text-decoration: none;
}

.ToolTip:hover:after {
    background: #111;
    background: rgba(0,0,0,.8);
    border-radius: .5em;
    bottom: 60px;
    color: #fff;
    content: attr(title);
    display: block;
    left: 1em;
    padding: .3em 1em;
    position: absolute;
    text-shadow: 0 1px 0 #000;
    white-space: nowrap;
    z-index: 98;
}

.ToolTip:hover:before {
    border: solid;
    border-color: #111 transparent;
    border-color: rgba(0,0,0,.8) transparent;
    border-width: 1px 1px 0px 1px;
    bottom: 60px;
    content: "";
    display: block;
    left: 2em;
    position: absolute;
    z-index: 99;
}

#battlefield {
	visibility: hidden;

	display: block;
	position: absolute;
	width: 99%;
	top: 50%;
	padding: 5px;
}

.battlefield.player {
	-webkit-transition-duration: 0.1s;
	float:left;
	color:#ffffff;
}
.battlefield.AI {
	-webkit-transition-duration: 0.1s;
	float:right;
	color:#ffffff;
}

.disabled {
	opacity: 0.4;
	background: #000000;
}

button:hover {
	border:1px solid #FFFFFF;
	position:relative;
}
button:active {
	position: relative;
	top: -1px;
}

.tooltip {
	top:-20px;
	padding: 10px; 
	background: #FFFFFF; 
	color:#CCCCCC; 
	max-width: 300px; 
	max-height: 160px;
	border: 3px solid #AAAAAA; 
	border-radius: 3px; 
	font-size: 11px; 
	text-decoration: none;
}

#splash {
	position: absolute;
	padding: 20% 20% 20% 20%;
	top: 0px;
	left: 10%;
	right: 10%;
	background: #333333;
	
	
}

.removed {
	opacity: 0;
	visibility: hidden;
}

#splashText {
	font-family: fantasy;
	background-color: #444444;
	border: 1px #EEEEEE solid;
	border-radius: 70px;
	color: #EEEEFF;
	padding: 5%;
	width: 95%;
	display: block;
	text-align: center;
}

.Continue {
	width:200px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	background: dimgray;
}